.card {
    height: 350px;
    width: 175px;
    display: inline-block;
    background-color: rgb(219, 133, 19);
    position: relative;
}
.badge {
    height: 50px;  
    width: 100px;
    background-color: wheat;
    border: 2px solid aqua;
    position: relative;
    top: 0px;
    right: 0px;
}
.notification {
    height: 40px;
    width:40px;
    border-radius: 50%;
    background-color: blueviolet;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
}
.count {
    position: absolute;
    top: 15px;
    
}